<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <rosparam command="load" file="$(find gripper_stiffness_controller)/configs/gripper_effort_controller.yaml" />

  <node name="gripper_effort_controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="gripper_effort_controller" />

</launch>
